<%- include('../partials/header') %>

<main class="main container" id="main">
    <h2 class="home-header">proof of concept</h2>
    <p class="home-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem illum eum deserunt
        fugit fuga nam iure, cupiditate id in distinctio, doloremque voluptatum obcaecati officiis nihil molestiae
        commodi eos rem enim eaque aut consectetur quidem molestias! Amet nostrum, recusandae magnam cumque,
        exercitationem rerum, reiciendis officiis animi sed sit neque atque accusantium possimus accusamus. Quas rerum
        obcaecati quisquam optio impedit, maiores repudiandae? Consectetur excepturi deserunt distinctio corporis vel,
        omnis at. Itaque ex sit suscipit, libero aperiam eos ut quasi id. Voluptatum, ipsa nesciunt? Nesciunt, qui sed?
        Accusamus minima repudiandae delectus voluptas, officiis fuga expedita non perspiciatis! Voluptatem minus
        dolorem magni ipsam.
    </p>
</main>

<%- include('../partials/footer') %> 